@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{            ViewData["Title"] = "Mission 3 Home Page";
}



<div class="bg-dark text-secondary px-4 py-5 text-center">
    <h1>Preffered Name: Mitch Buhler</h1>
    <br />
    <h3>A paragraph of what I want to get out of the IS 413 class</h3>
    <p class="editParagraph">This is the one class I have been looking forward to the most in the Junior Core for the Is program. I am highly interested in doing software development and I see this class as an oppertunity to learn more about C#. I have had a good amount of exposure to C# and ASP.net in other classes and personal classes. The overarching goal I have for this class is to learn more about programming principles and be a more capable developer than I already am.</p>
    <br />

    <h3>Picture of me doing something I enjoy</h3>
    <img src="img/skiPic.jpg"
            class="rounded mx-auto d-block"
            width="200"
            height="300" />
    <p>One of my favorite hobbies is skiing! Here I am at the Keystone resort in Colorado with my brother!</p>
    <br />




    <ul>
        <h3>Top #3 Jobs</h3>
        <li>Compliance Attorney</li>
        <li>Data Scientist</li>
        <li>Cyber Security Engineer</li>
    </ul>
    <br />
</div>

<!--<form>
    <h5>Grade Calculator</h5>
    <label class="labelBox">Assignments:</label>
    <input id="Assignments" /><br />
    <label class="labelBox">Group Project:</label>
    <input id="Group" /><br />
    <label class="labelBox">Quizzes:</label>
    <input id="Quizzes" /><br />
    <label class="labelBox">Exams:</label>
    <input id="Exams" /><br />
    <label class="labelBox">INTEX:</label>
    <input id="INTEX" /><br />
    <input id="gradeSend" type="button" value="Calculate Score" />
    <br /><br />
    <h3>Your final Grade is: <span id="Grade"></span> <span id="letterGrade"></span></h3>
    <br /><br />
</form>-->
<br />

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Grade Calculator</h1>
            <p class="col-lg-10 fs-4">Calculate your grade with the following grade calculator. Keep in mind, this calculator rounds to the nearest whole number.</p>
            <h3>Your final Grade is: <span id="Grade"></span> <span id="letterGrade"></span></h3>

        </div>
        <!--
        <div class="col-md-10 mx-auto col-lg-5">
            <form p-4 p-md-5 border rounded-3 bg-light>
                <div class="form-floating mb-3">
                    <input id="Assignments" class="form-control" />
                    <label class="form-label">Assignments:</label>
                </div>
                <div class="form-floating mb-3">
                    <input id="Group" class="form-control" />
                    <label class="form-label">Group Projects:</label>
                </div>
                <div class="form-floating mb-3">
                    <input id="Quizzes" class="form-control" />
                    <label class="form-label">Quizzes:</label>
                </div>
                <div class="form-floating mb-3">
                    <input id="Exams" class="form-control" />
                    <label class="form-label">Exams:</label>
                </div>
                <div class="form-floating mb-3">
                    <input id="INTEX" class="form-control" />
                    <label class="form-label">INTEX:</label>
                </div>
                <div class="align-items-center">
                    <input id="gradeSend" type="submit" value="Calculate Score" class="btn btn-primary" />
                </div>

            </form>
        </div>
        -->
    </div>
</div>



